# Gradle
.gradle/
build/
*/build/
!/**/*/build/
captures/
.gradle/**
build/**
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.idea/
.idea/**
.cxx/
*.cxx
*.cxx/**
gradle/
gradle-wrapper.jar
gradlew
gradlew.bat
